<div class="full">

<h1>this is list index</h1>
This is list index -- should show all lists that belongs to a particular user

<ul>
<% @lists.each do |list| %>
  <li><%= link_to list.name, list %></li>
<% end %>
</ul>
</div>
