/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




body {
  background-color:black;
  background-image: url(blackownedbusiness.jpg);
  background-size: cover;
  background-repeat: repeat-x;
  margin: 0;
  /* background-repeat: repeat;
  background-size: 50% 50%; */

  /* background-image: url("https://jooinn.com/images/black-leather-2.jpg"); */
  
}


.grid-container {
  margin-right: auto; /* 1 */
  margin-left:  auto; /* 1 */
  background-color: white;
  /* background-color:rgb(95, 91, 65); */
  /* margin-top: px; */
  max-width: 700px; /* 2 */
  padding-right: 10px; /* 3 */
  padding-left:  10px; /* 3 */
  height: 100%;
  
}

.full {
  height: 100vh;
}

/* Comments and favorites count section in company show page */
.grid{
  display: grid;
  grid-template-columns: 20px / 1fr 1fr;
  margin: 0;
}

.left-half {
  /* background:blue; */
  grid-column: 1;
  font-size: .75em;
  /* width:  */
  direction: rtl;
  padding-right: 10px;
  text-align: right;

}

.right-half {
  /* background: #b6701e; */
  grid-column: 2;
  font-size: .75em;
  padding-left: 10px;
  /* width: fit-content; */
  text-align: left;
}

.flexbox .company_info{
  border-style: solid;
  border-radius: .25em;
  /* border-width: 100px; */
  width: 50%;
  display: inline-flex;
  /* flex-wrap: nowrap; */
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;

}


/* button on company show page */

.myButton {
	box-shadow:inset 0px 1px 0px 0px #a6827e;
	background:linear-gradient(to bottom, #7d5d3b 5%, rgb(172, 145, 26) 100%);
	background-color:#7d5d3b;
	border-radius:1px;
	border:1px solid #54381e;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:1px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #4d3534;
}
.myButton:hover {
	background:linear-gradient(to bottom, #634b30 5%, black 100%);
	background-color:#634b30;
}
.myButton:active {
	position:relative;
	top:1px;
}


/* Company Name Title */
.title{
  font-weight: bold;

}

.about-company{
  color: rgb(172, 145, 26);
}


.flexbox p{
  font-size: medium;
 /* display: inline-block; */
 padding: 0;
 display:inline;
 padding-left: 0;
 padding-right: 0;
 margin: 0;
}

.single-comment{
    /* display: inline-flex; */
    /* border-style: solid;
    border-width: 5px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center; */
    /* align-items: center; */
    /* background-color: blue; */
  
}



.single-comment-one  {
  /* display: inline-flex; */
  /* border-style: solid;
  flex-grow: 4;
  color: red; */
  /* flex-grow: 3; */
}

.comment-grid{
  display: grid;
  grid-template-columns: 200px 500px;
  /* grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px; */
  /* border: mediumaquamarine solid; */
}

.comment-grid div{
  /* display: grid;
  grid-template-columns: 200px 500px; */
  /* grid-taemplate-columns: 1fr 1fr 1fr;
  grid-gap: 20px; */
  /* border: mediumaquamarine solid; */
}


/* ul.a {
    list-style-type: circle;
  }
  

.nav {
    min-height: 38px;
    background-color: #808080;
    width: 100vw;
  }
.nav a { font-size: 25px;
    padding: 2vw;
    font-family: monospace; }
.nav a:hover {
 color: #fff;
 background-color: transparent;
 text-decoration: none;
 
}
  */
ul {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0; 
    text-decoration: none;
  }
   



/* Basic styling */
/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  font-size: 16px;
} */




nav {
  background-color: rgb(172, 145, 26);
  padding: 0 15px;
  margin-top: 0;
}
a {
  color: black;
  text-decoration: none;
}
.menu,
.submenu {
  margin-top: 0;
  list-style-type: none;
}
.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}
.item {
  padding: 10px;
}
.item.button {
  padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: #ccc;
}
/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li a {
  display: block;
  padding: 15px 5px;
}
.menu li.subitem a {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}
.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 1px #444 solid;
}
/* Submenu up from mobile screens */
.submenu {
  display: none;
}
.submenu-active .submenu {
  display: block;
}
.has-submenu i {
  font-size: 12px;
}
.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  color: white;
  padding-left: 5px;
}
.subitem a {
  padding: 10px 15px;
}
.submenu-active {
  background-color: #111;
  border-radius: 3px;
}

/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
  /* Button up from tablet screen */
  .menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;
  }
  .button a {
    background: #0080ff;
    border: 1px royalblue solid;
  }
  .button.secondary {
    border: 0;
  }
  .button.secondary a {
    background: transparent;
    border: 1px #0080ff solid;
  }
  .button a:hover {
    text-decoration: none;
  }
  .button:not(.secondary) a:hover {
    background: royalblue;
    border-color: darkblue;
  }
}
/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
  .button {
    order: 2;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    left: 0;
    top: 68px;
    background: #111;
  }
  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }
}