/* // Place all the styles related to the companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/ */


 h1 {
    font-family: "Cinzel", Gadget, sans-serif;
    font-weight: lighter;
    margin: 0;
    padding-top:20px;
    padding-bottom:20px;
    font-size: 40px;
    text-align: center;
  }

  .company_show h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    line-height: 0px;
    text-align: center;
  }
  
  .company_show h3 {
   /* margin: 0 auto; */
   /* padding: 20px; */
   display: inline;
   font-weight: lighter;
    font-size: 15px;
    line-height: 0px;
   /* text-align: center; */
  }

  .company_show p{
    font-family: monospace; 
  }
  