/* // Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/ */

/* h1{
    color: red;
} */

form {
    display: inline-block;
    vertical-align: middle;
    margin: 0px 0;
  }

.list_name{
   padding-bottom: 0;
   margin: 0;
  }

  .center{
      text-align: center;
  }

  .move{
      padding-left: 15px;
      display: inline-block;
      padding-top: 0;
  }
